<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


    <style>
        footer {
            padding-left: 1em;
            padding-right: 1em;
        }

        img.footer {
            height: 2em;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/Home/Index">TukiVERKKO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav ms-auto">
                    <li class="btn"><a class="nav-link" href="/Home/Info">Info</a></li>
                    <li class="btn"><a class="nav-link" href="/Asiakkaats/Tukipyynto">Tukipyyntö</a></li>
                    <li class="btn"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#LoginRuutu">Kirjaudu</a></li>
                    <li class="btn"><a class="nav-link" href="/Tiketit/Arkisto">Arkisto</a></li>
                    <li class="btn"><a class="nav-link" href="/Tiketit/TikettiOtsikot">Saapuneet tiketit</a></li>
                </ul>
            </div>
        </div>
    </nav>        
    @RenderBody()
        <hr />
        <footer>
            @using System.Globalization
            <div class="row">
                <div class="column col-sm-6">
                    &copy;
                    <img class="footer" src="~/Content/TukiverkkoLogoPieni.png">
                    <img class="footer" src="~/Content/CareeriaLogo.png">
                </div>
                <div class="column col-sm-6"><p style="text-align:right">Tänään on @DateTime.Now.ToString("F", CultureInfo.CreateSpecificCulture("fi-FI"))</p></div>
            </div>
        </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
