<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
<<<<<<< HEAD
<<<<<<< HEAD
            <a class="navbar-brand" href="/Home/Index">TukiVERKKO</a>
=======
            <a class="navbar-brand" href="Home/Index">TukiVERKKO</a>
>>>>>>> 0487c6023e18ac37d1f58a953b915804302b2f2f
=======
            <a class="navbar-brand" href="Home/Index">TukiVERKKO</a>
>>>>>>> 0487c6023e18ac37d1f58a953b915804302b2f2f
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
<<<<<<< HEAD
<<<<<<< HEAD
                        <a class="nav-link active" href="/Home/Index">Etusivu<span class="visually-hidden">(current)</span></a></li>
                </ul>
                <form class="d-flex">
                    <ul class="nav-item"><a class="nav-link" href="/Home/Contact">Info</a></ul> 
=======
                        <a class="nav-link active" href="Home/Index">Etusivu<span class="visually-hidden">(current)</span></a></li>
                </ul>
                <form class="d-flex">
                    <ul class="nav-item"><a class="nav-link" href="Home/Contact">Info</a></ul> 
>>>>>>> 0487c6023e18ac37d1f58a953b915804302b2f2f
=======
                        <a class="nav-link active" href="Home/Index">Etusivu<span class="visually-hidden">(current)</span></a></li>
                </ul>
                <form class="d-flex">
                    <ul class="nav-item"><a class="nav-link" href="Home/Contact">Info</a></ul> 
>>>>>>> 0487c6023e18ac37d1f58a953b915804302b2f2f
                </form>
            </div>
        </div>
    </nav>        @RenderBody()
        <hr />
        <footer>
<<<<<<< HEAD
<<<<<<< HEAD

=======
            <p>&copy; @DateTime.Now.Date - My ASP.NET Application</p>
>>>>>>> 0487c6023e18ac37d1f58a953b915804302b2f2f
=======
            <p>&copy; @DateTime.Now.Date - My ASP.NET Application</p>
>>>>>>> 0487c6023e18ac37d1f58a953b915804302b2f2f
        </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
