@model TukiVerkko1.ViewModels.Lomaketiedot

@{
    ViewBag.Title = "Tukipyynto";
}

<style>
    * {
        box-sizing: border-box;
    }

    .row {
        display: flex;
    }
    /* Create two equal columns that sits next to each other */
    .column {
        float: left;
        padding: 10px;
        /*height: 300px;*/ /* Should be removed. Only for demonstration */
    }

    .left {
        width: 40%;
        background-image: linear-gradient(blueviolet, violet);
    }

    .right {
        width: 60%;
    }
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    #ohjeruutu {
        padding: 10%;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: white;
    }
</style>

<h2>Tukipyyntö</h2>



<hr />
<div class="row">
    <div class="column left">
        <p id="ohjeruutu">
            Täytä oheiseen lomakkeeseen tietosi ja ongelmasi kuvaus mahdollisimman tarkasti. Tarvittaessa otamme sinuun yhteyttä.<br /><br />
            Saat ilmoituksen sähköpostiisi, kun alamme käsitellä tukipyyntöäsi ja kun se valmistuu.<br /><br />
            Huomaathan että voit ilmoittaa vain yhden ongelman per tukipyyntö.<br /><br />
            Kiitos.
        </p>
    </div>
    <div class="column right">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h4>Lomaketiedot</h4>


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Otsikko, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Otsikko, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Otsikko, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*Dropdown-lista*@
                <div class="form-group">
                    @Html.LabelFor(model => model.KategoriaID, "Kategoria", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("KategoriaID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KategoriaID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Etunimi, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Etunimi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Etunimi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Sukunimi, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Sukunimi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Sukunimi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Puhelinnumero, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Puhelinnumero, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Puhelinnumero, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Sähköposti, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Sähköposti, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Sähköposti, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Kuvaus, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Kuvaus, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Kuvaus, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-outline-primary btn-lg" data-bs-toggle="modal" data-bs-target="#peruutus">Peru</button>
                        <button type="button" class="btn btn-outline-primary btn-lg" data-bs-toggle="modal" data-bs-target="#lähetys">Lähetä</button> 
                    </div>
                </div>
                @*Tukipyynnön lähetys-modaali*@
                <div class="modal" id="lähetys">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Lähetetäänkö tukipyyntö?</h4>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Saat ilmoituksen sähköpostiisi, kun tukipyyntösi on otettu käsittelyyn. <br />
                                    <br />
                                    Kiitos, hyvää päivänjatkoa!
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
                                <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Peruutus-modaali -->
                <div class="modal" id="peruutus">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                            </div>
                            <div class="modal-body">
                                <h5>
                                    Haluatko varmasti <br />
                                    perua tukipyynnön ja <br />
                                    palata etusivulle?
                                </h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
                                <a href="@Url.Action("Index", "Home")" class="btn btn-primary" style="border-radius: 6px"><i class="fas fa-check"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



