@model IEnumerable<TukiVerkko1.Models.Asiakkaat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sukunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Puhelinnumero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sähköposti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tiketit.Otsikko)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sukunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Puhelinnumero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sähköposti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tiketit.Otsikko)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AsiakasID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AsiakasID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AsiakasID })
        </td>
    </tr>
}

</table>
