@model IEnumerable<TukiVerkko1.Models.Tiketit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Otsikko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kuvaus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valmistumisaika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asiakkaat.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kategoriat.Nimi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Otsikko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kuvaus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valmistumisaika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asiakkaat.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kategoriat.Nimi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TikettiID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TikettiID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TikettiID })
        </td>
    </tr>
}

</table>
